.productCard {
  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow 0.2s ease-out;
  cursor: pointer;
}
.productCard:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.3s ease-in;
}
.eachProduct {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
